In [15]:
import pandas as pd
from pprint import pprint
import requests
low_memory=False

In [5]:
# Read tsv file
# tsv_file = 'Resources/title_basics.tsv'
# tsv_table=pd.read_table(tsv_file,sep='\t')
# Convert to csv file
# tsv_table.to_csv('Resources/title_basics.csv',index=False)

In [2]:
# Read csv file 
csv_file = 'Resources/title_basics.csv'
title_basics = pd.read_csv(csv_file)

/Users/kevinscheller/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Create df from csv
title_basics_df = pd.DataFrame(title_basics)
title_basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
# Drop the rows that have N/A for startYear
clean_title_basics_df = title_basics_df[pd.to_numeric(title_basics_df['startYear'], errors='coerce').notnull()]
# Filter df to just releases >= 2000
recentTitles_df = clean_title_basics_df.loc[clean_title_basics_df['startYear'].astype('int32') >= 2000,:]
recentTitles_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
16664,tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical"
18039,tt0018295,short,El puño de hierro,El puño de hierro,0,2004,\N,40,"Action,Drama,Short"
34814,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
61136,tt0062336,movie,El tango del viudo y su espejo deformante,El tango del viudo y su espejo deformante,0,2020,\N,70,Drama
63063,tt0064322,movie,The Woman with the Knife,La femme au couteau,0,2010,\N,80,"Drama,Thriller"

In [5]:
# Types of Titles in df
recentTitles_df['titleType'].value_counts()

tvEpisode       3226882
short            511304
movie            235180
video            207328
tvSeries         123391
tvMovie           61138
tvMiniSeries      21506
tvSpecial         19379
videoGame         15187
tvShort            6365
Name: titleType, dtype: int64

In [53]:
# Filter df to just Movies & remove Adult Movies
recentMovies_df = recentTitles_df.loc[(recentTitles_df['titleType'] == 'movie') & (recentTitles_df['isAdult'] == 0),:]
recentMovies_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
16664,tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical"
34814,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
61136,tt0062336,movie,El tango del viudo y su espejo deformante,El tango del viudo y su espejo deformante,0,2020,\N,70,Drama
63063,tt0064322,movie,The Woman with the Knife,La femme au couteau,0,2010,\N,80,"Drama,Thriller"
67690,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama

In [54]:
# See difference between primaryTitle and originalTitle
recentTitles_df.loc[recentTitles_df['primaryTitle'] != recentTitles_df['originalTitle'],:]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
63063,tt0064322,movie,The Woman with the Knife,La femme au couteau,0,2010,\N,80,"Drama,Thriller"
67586,tt0068943,short,Between Wrocław and Zielona Góra,Miedzy Wroclawiem a Zielona Góra,0,2010,\N,11,"Documentary,Short"
77558,tt0079204,movie,"Case #1, Case #2","Ghazieh-e Shekl-e Aval, Ghazieh-e Shekl-e Dou Wom",0,2004,\N,53,"Documentary,Drama"
98086,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017,\N,80,"Comedy,Drama,Fantasy"
115100,tt0117707,short,Space Pigs,Space-pigs,0,2000,\N,28,"Animation,Short"
...,...,...,...,...,...,...,...,...,...
6542918,tt9914254,movie,A Cherry Tale,Kirsebæreventyret,0,2019,\N,85,Documentary
6543168,tt9914772,short,ELEVENELEVEN,Eleven Eleven,0,2016,\N,\N,"Short,Thriller"
6543530,tt9915526,short,Way Back Home,A volta para casa,0,2019,\N,17,"Drama,Short"
6543608,tt9915686,tvSeries,The Khatra Show,Khatra Khatra Khatra,0,2019,\N,\N,"Comedy,Reality-TV"
6543822,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama

In [55]:
# List of just Movie Titles using primaryTitle
recentMovieTitles = [i for i in recentMovies_df['primaryTitle']]
# Total Movie Titles in List
print(f'''-----------------------
Total # Movies: {len(recentMovieTitles)}
-----------------------''')
# Preview List
print('''
------
MOVIES
------''')
for movie in recentMovieTitles[:15]:
    print(movie)

-----------------------
Total # Movies: 234065
-----------------------

------
MOVIES
------
Frivolinas
Kate & Leopold
El tango del viudo y su espejo deformante
The Woman with the Knife
The Other Side of the Wind
Sabse Bada Sukh
Case #1, Case #2
The Naked Monster
Crime and Punishment
Responso
The Wandering Soap Opera
Istota
Nothing
West from North Goes South
Auf allen Meeren

In [56]:
# Save Cleaned Movie List to csv
recentMovieTitles_df = pd.DataFrame(recentMovies_df.loc[:,['primaryTitle','startYear','genres']])
recentMovieTitles_df.to_csv('Resources/recentMovieTitles.csv', index=False)
recentMovieTitles_df.to_csv('Resources/recentMovieTitles.csv', mode='a', header=False index=False)

In [57]:
#Preview csv - includes Title, Year, Genres
recentMovieTitles_df.head()

,primaryTitle,startYear,genres
16664,Frivolinas,2014,"Comedy,Musical"
34814,Kate & Leopold,2001,"Comedy,Fantasy,Romance"
61136,El tango del viudo y su espejo deformante,2020,Drama
63063,The Woman with the Knife,2010,"Drama,Thriller"
67690,The Other Side of the Wind,2018,Drama